@import "../../../node_modules/@fontsource/roboto-condensed/300.css";
@import "../../../node_modules/@fontsource/roboto-condensed/400.css";
@import "../../../node_modules/@fontsource/roboto-condensed/700.css";
@import "../../../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "../../../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "./bootstrap.min.css";
@import "../../../node_modules/sweetalert2/dist/sweetalert2.min.css";
@import "../../../node_modules/izitoast/dist/css/iziToast.min.css";

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Roboto Condensed', serif;
}

#root {
    width: calc(100vw);
    min-height: inherit;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: max-content max-content auto minmax(100px, max-content);
}

#root > header .logo img:nth-child(1) {
    width: 400px;
}

#root > header .logo img:nth-child(2) {
    width: 100%;
    max-width: 200px;
    display: none;
}

#root > header .icons i {
    font-size: 1.5rem;
    color: #18363d;
    cursor: pointer;
}

#root > header .icons i:hover {
    color: #31636f;
}

#root > nav {
    /*background-color: blue;*/
    background-color: #18363d;
}

@media (max-width: 768px) {
    #root > header .logo img:nth-child(1) {
        display: none;
    }

    #root > header .logo img:nth-child(2) {
        display: inline-block;
    }
}

/***************************************/

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #727272 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #727272;
    border-radius: 10px;
    border: 1px solid #ffffff;
}

/***************************************/

.text-align-justify {
    text-align: justify;
}

.super-small {
    font-size: 0.8rem;
}