@import "../../global/css/general.css";

#root main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#root nav {
    min-height: 45px;
}

#root main {
    min-height: 300px;
}